<div class="container">
    <h2>Image view</h2>

    <br>

    <h3>{{image.title}}</h3>
    <sub>Uploaded by: <a href="/user/{{image.author._id}}">{{image.author.username}} </a></sub>
    <br>
    <img src={{image.imgurl}} alt="">
    <h4>Summary: </h4>
    <p>{{image.summary}}</p>

    <p></p>

    <br>

    {{#if currentUser}}
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <form action="/images/comment/{{image._id}}" method="post" id='comment'>
          <legend>Comment</legend>
          <textarea rows="4" cols="50" name="content" form="comment"></textarea>
          <div class='text-right'>
            <button type="submit" class="btn btn-primary">Comment</button>
          </div>
        </form>
      </div>
    </div>
    {{/if}}

    {{#each image.comments}}
    <div class="card">
        <div class="card-body">
        <p><a href="/user/{{this.author._id}}"> {{this.author.username}}</a> says: {{this.content}} </p>
        </div>
    </div>
    {{/each}}



</div>
